
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Top Restaurants in Provo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" >Home</a>
                </li>
                <li>
                    <a class="nav-link" asp-controller="Home" asp-action="RestaurantList">List of user-suggested restauarants</a>
                </li>
                <li>
                    <a class="nav-link" asp-controller="Home" asp-action="RestaurantSuggestions">Add a Suggestion</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <h2 class="text-center">@ViewData["Title"]</h2>
    
    @RenderBody()

</body>
</html>
