@{
    ViewData["Title"] = "Top Restaurants in Provo (according to users)";
}

@model IEnumerable<TopRestaurantsProvo.Models.Suggestion>

<div class="container">
    <table class="table">
        <thead class="justify-content-center">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Restaurant Name</th>
                <th scope="col">Favorite Dish</th>
                <th scope="col">Restaurant Phone #</th>
            </tr>
        </thead>
        <tbody>
            @foreach(TopRestaurantsProvo.Models.Suggestion s in Model)
            {
                <tr scope="row">
                    <td>@s.Name</td>
                    <td>@s.RestaurantName</td>
                    <td>@s.FavoriteDish</td>
                    <td>@s.RestaurantPhone</td>
                </tr>
            }
        </tbody>
    </table>
</div>